<section class="seller_title">
    <article class="w1440">
        <h1>판매자신청</h1>
    </article>
</section>
<div class="seller_bg">
    <section class="w1440">
        <article class="title_wrap">
            <h2>식품셀러신청</h2>
            <p>내용을 빠짐없이 기입 후 신청 버튼을 눌러주세요.</p>
        </article>
        <article class="basic_info">
            <h3>판매자 기본정보</h3>
            <form class="foodseller_wrap">
                <div class="item">
                    <label class="item_title">이름</label>
                    <input type="text">
                </div>
                <div class="item">
                    <label class="item_title">주민등록번호</label>
                    <input type="text">
                </div>
                <div class="item">
                    <label class="item_title">아이디</label>
                    <div class="id_wrap">
                        <input type="text" class="id_space">
                        <input class="id_btn" type="button" value="중복확인">
                    </div>
                </div>
                <div class="item">
                    <label class="item_title">비밀번호</label>
                    <input type="password">
                </div>
                <div class="item">
                    <label class="item_title">비밀번호확인</label>
                    <input type="password">
                </div>
                <div class="item">
                    <label class="item_title">전화번호</label>
                    <input type="text">
                </div>
                <div class="item">
                    <label class="item_title">이메일</label>
                    <input type="text">
                </div>
                <div class="item">
                    <label class="item_title">주소</label>
                    <input type="text">
                </div>
            </form>
        </article>
        <article class="food_info">
            <h3>판매 상품 정보</h3>
            <form class="foodseller_wrap">
                <div class="item">
                    <label class="item_title">구분</label>
                    <div class="food_type">
                        <label>전통요리<input type="radio" name="food_type"></label>
                        <label>퓨전·창작요리<input type="radio" name="food_type"></label>
                    </div>
                </div>
                <div class="item">
                    <label class="item_title">요리명(주메뉴)*</label>
                    <input type="text">
                </div>
                <div class="item">
                    <label class="item_title">요리명(보조메뉴)</label>
                    <input type="text">
                </div>
                <div class="item">
                    <label class="item_title">음식분류코드</label>
                    <select required name="food_content" class="food_code">
                        <option value="steak">100 스테이크</option>
                        <option value="beef">101 소고기류</option>
                        <option value="pork">102 돼지고기류</option>
                        <option value="entrails">103 내장류</option>    
                        <option value="chicken">104 닭·칠면조류</option>
                        <option value="sheep">105 양고기류</option>
                        <option value="seafood">106 해산물류</option>
                        <option value="friedmeat">107 육류튀김류</option>
                        <option value="freidsea">108 해산물튀김류</option>
                        <option value="skewer">109 꼬지류</option>
                        <option value="rice">110 밥류</option>
                        <option value="noodle">111 면류</option>
                        <option value="flour">112 분식류</option>
                        <option value="desert">113 디저트류</option>
                        <option value="jean">114 전류</option>
                        <option value="fishcake">115 어묵류</option>
                        <option value="salad">116 무침류</option>
                        <option value="yaki">117 야끼류</option>
                        <option value="beverage">118 음료/아이스크림/빙수류</option>
                        <option value="etc">119 기타</option>
                    </select>
                </div>
                <div class="item">
                    <label class="item_title">주요경력(기간/주요 경력 혹은 업무 내용)</label>
                    <textarea class="career_txtbox"></textarea>
                </div>
                <div class="item">
                    <label class="item_title">증명사진 첨부</label>
                    <input type="button" value="파일첨부" class="file_upload">
                </div>
                <div class="item">
                    <label class="item_title">출품요리 설명서 첨부</label>
                    <input type="button" value="파일첨부" class="file_upload">
                </div>
            </form>
        </article>
        <article class="seller_intro">
            <h3>자기소개서</h3>
            <form class="foodseller_wrap">
                <div class="item">
                    <label class="item_title">1. 개인소개</label>
                    <textarea class="career_txtbox"></textarea>
                </div>
                <div class="item">
                    <label class="item_title">2. 입점동기 및 비전</label>
                    <textarea class="career_txtbox"></textarea>
                </div>
                <div class="item">
                    <label class="item_title">3. 운영·마케팅 및 홍보 계획</label>
                    <textarea class="career_txtbox"></textarea>
                </div>
            </form>
        </article>
        <article class="seller_btn_wrap">
            <form>
                <input type="submit" value="임시저장" class="seller_btn">
                <input type="submit" value="회원가입 및 신청서 제출" class="seller_btn">
            </form>
        </article>
    </section>
</div>
