<section class="seller_title">
    <article class="w1440">
        <h1>판매자신청</h1>
    </article>
</section>
<div class="seller_bg">
    <section class="w1440">
        <article class="title_wrap">
            <h2>프리마켓셀러신청</h2>
            <p>내용을 빠짐없이 기입 후 신청 버튼을 눌러주세요.</p>
        </article>
        <article class="basic_info">
            <h3>판매자 기본정보</h3>
            <form class="foodseller_wrap">
                <div class="item">
                    <label class="item_title">이름</label>
                    <input type="text">
                </div>
                <div class="item">
                    <label class="item_title">주민등록번호</label>
                    <input type="text">
                </div>
                <div class="item">
                    <label class="item_title">아이디</label>
                    <div class="id_wrap">
                        <input type="text" class="id_space">
                        <input class="id_btn" type="button" value="중복확인">
                    </div>
                </div>
                <div class="item">
                    <label class="item_title">비밀번호</label>
                    <input type="password">
                </div>
                <div class="item">
                    <label class="item_title">비밀번호확인</label>
                    <input type="password">
                </div>
                <div class="item">
                    <label class="item_title">전화번호</label>
                    <input type="text">
                </div>
                <div class="item">
                    <label class="item_title">이메일</label>
                    <input type="text">
                </div>
                <div class="item">
                    <label class="item_title">주소</label>
                    <input type="text">
                </div>
            </form>
        </article>
        <article class="food_info">
            <h3>판매 상품 정보</h3>
            <form class="foodseller_wrap">
                <div class="item">
                    <label class="item_title">참여셀러 인원수 (최소~명/최대~명)</label>
                    <input type="text">
                </div>
                <div class="item">
                    <label class="item_title">판매 상품 종류</label>
                    <input type="text">
                </div>
                <div class="item">
                    <label class="item_title">주요경력(기간/주요 경력 혹은 업무 내용)</label>
                    <textarea class="career_txtbox"></textarea>
                </div>
                <div class="item">
                    <label class="item_title">증명사진 첨부</label>
                    <input type="button" value="파일첨부" class="file_upload">
                </div>
                <div class="item">
                    <label class="item_title">출품요리 설명서 첨부</label>
                    <input type="button" value="파일첨부" class="file_upload">
                </div>
            </form>
        </article>
        <article class="seller_intro">
            <h3>자기소개서</h3>
            <form class="foodseller_wrap">
                <div class="item">
                    <label class="item_title">1. 개인 소개</label>
                    <textarea class="career_txtbox"></textarea>
                </div>
                <div class="item">
                    <label class="item_title">2. 입점동기 및 비전</label>
                    <textarea class="career_txtbox"></textarea>
                </div>
                <div class="item">
                    <label class="item_title">3. 운영·마케팅 및 홍보 계획</label>
                    <textarea class="career_txtbox"></textarea>
                </div>
            </form>
        </article>
        <article class="seller_btn_wrap">
            <form>
                <input type="submit" value="임시저장" class="seller_btn">
                <input type="submit" value="회원가입 및 신청서 제출" class="seller_btn">
            </form>
        </article>
    </section>
</div>
