        <section class="introdue_title">
            <article class="w1440">
                <h1>야시장소개</h1>
                <nav>
                    <ul class="navTab">
                        <li><a class="introTab intro1">야시장소개</a></li>
                        <li><a class="introTab intro2">영업시간</a></li>
                        <li><a class="introTab intro3">오시는길</a></li>
                        <li><a class="introTab intro4">매대위치</a></li>
                    </ul>
                </nav>
            </article>
        </section>
        <section class="intro_wrap" id="intro_contents">
            <article class="w1440 intro_sec1">
                <h4>夜하게 놀자, 대한민국 대표 야시장</h4>
                <h2 class="sizeh2">서문시장야시장</h2>
                <h4>단순한 스트리트  마켓이 아니다!</h4>
                <h4>글로벌하게 먹고, 마시고, 즐길 수 있는 대한민국 No.1 야시장</h4>
            </article>
            <article class="intro_sec2">
                <div></div>
            </article>
            <article class="w1440 intro_sec3">
                <div class="intro_img2">
                    <div></div>
                </div>
                <div class="intro_txt2">
                    <h4>전 세계인과 함께하는, 대한민국 대표 야시장 ‘서문시장 야시장’
                    </h4>
                    <h2 class="sizeh2">여러분과 함께 만들어가는 夜한 테마파크!</h2>
                    <p>
                        서문시장 야시장은 2016년 6월에 개장한,
                        <br>총거리 350M에 달하는 대형 야시장입니다.
                        <br>우리나라 3대 시장인 서문시장의 밤거리를 무대로 하여
                        <br>총 80대의 매대에서 다양한 먹거리, 살거리를 판매하며
                        <br>매일 저녁, 시민과 관광객에게 즐거움을 선사하는
                        <br>복합문화공간입니다. 특히, 먹거리 일색인 타 야시장과는 달리
                        <br>먹거리, 볼거리, 즐길거리의 3대 요소가 연중으로 펼쳐지는
                        <br>마법같은 관광지이기도 합니다.
                        <br>
                        <br>밤이 즐거운 대구 야행
                        <br>한옥 체험을 경험할 수 있는 서문한옥게스트하우스, 동성로와 인접한 교동게스트하우스
                        <br>함께 운영합니다.
                    </p>
                </div>
            </article>
            <article class="intro_sec45">
                <div class="intro_sec4">
                    <div></div>
                </div>
                <div class="intro_sec5 w1440">
                    <h2 class="sizeh2">연중무휴로 펼쳐지는 Fantastic Night Party!
                    </h2>
                    <h4>야시장을 통한 성공적인 창업상단 육성!</h4>
                    <p>
                        서문시장 야시장은 대구의 밤문화와 다양한 첨단, 문화예술이 복합되어
                        <br>어디에서도 찾을 수 없는 경험을 제공합니다.
                        <br>글로벌, 퓨전 먹거리를 비롯하여 대구에서만 찾을 수 있는 독특한 음식
                        <br>우리의 추억과 감성을 자극하는 다양한 볼거리, 살거리가 즐비합니다.
                        <br>대구로 방문하신다면
                        <br>반드시 찾아가봐야 할 1순위는 단연 ‘서문시장 야시장’입니다.
                    </p>
                </div>
            </article>
        </section>
        <section class="time_wrap w1440" id="intro_time">
            <div class="time_bg">
                <div>
                    <h2 class="sizeh2">영업시간 안내</h2>
                    <h3 class="red sizeh3">정기휴무 : 매주화요일</h3>
                    <h3 class="sizeh3">일,월,수,목(19:00~22:30)</h3>
                    <h3 class="sizeh3">금,토(19:00~23:30)</h3>
                </div>
            </div>
        </section>
        <section class="map_wrap w1440" id="intro_location">
            <div class="map_bg">
                <div></div>
            </div>
            <div class="map_txt">
                <ul>
                    <li>
                        <div class="title">주소</div>
                        <div class="text">대구 중구 큰장로26길 45</div>
                    </li>
                    <li>
                        <div class="title">전화</div>
                        <div class="text">053-256-6341</div>
                    </li>
                    <li>
                        <div class="icon subway"></div>
                        <div class="title">지하철이용</div>
                    </li>
                    <li>
                        <div class="text">2호선 신남역 5번 출구, 3호선 서문시장역 3번 출구</d>
                    </li>
                    <li>
                        <div class="icon bus"></div>
                        <div class="title">버스이용</div>
                    </li>
                    <div>
                        <p class="m_bus_stop">동산의료원앞 1, 섬유회관건너 1, 섬유회관앞, 큰장네거리2~4</p>
                    </div>
                </ul>
            </div>
            <table class="intro_table">
                <tr>
                    <th class="bus_stop">동산의료원앞 1</th>
                    <td class="bus_number">
                        <ul>
                            <li class="regular">990 , 991</li>
                            <li class="rapid">300 , 414 , 600 , 836 , 840</li>
                            <li class="seat">성주-용암-대구, 왜관-도흥-광영-대구</li>
                            <li class="rural">성주-북부</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th class="bus_stop">섬유회관건너 1</th>
                    <td class="bus_number">
                        <ul>
                            <li class="rapid">156 , 309 , 400-1 , 420 , 425 , 427 , 508 , 521 , 623 , 653 , 724 , 939</li>
                            <li class="green" >990, 991 </li>
                            <li class="express">급행1, 급행3</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th class="bus_stop">섬유회관앞</th>
                    <td class="bus_number">
                        <ul>
                            <li class="regular">990, 991 </li>
                            <li class="rapid" >156 , 309 , 323-1 , 400 , 420-1 , 425 , 427 , 508 , 521 , 600 , 623 , 651 , 653 , 724 , 840 , 909 , 939 </li>
                            <li class="green">990, 991 </li>
                            <li class="express">급행1, 급행3</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th class="bus_stop">큰장네거리 4</th>
                    <td class="bus_number">
                        <ul>
                            <li class="rapid" >309 , 400 , 402 , 405 , 508</li>
                            <li class="green">성서2</li>
                            <li class="regular">990, 991 </li>
                            <li class="express">급행1</li>
                            <li class="rapid">대구-광영-도흥-왜관 , 대구-용암-성주</li>
                            <li class="rural">250 , 606 , 607 , 북부-반고개-성주</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th class="bus_stop">큰장네거리 3</th>
                    <td class="bus_number">
                        <ul>
                            <li class="rapid" >405 , 623 , 653</li>
                            <li class="rural">250</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th class="bus_stop">큰장네거리 2</th>
                    <td class="bus_number">
                        <ul>
                            <li class="rapid">405 , 623 , 653</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </section>
<script src="../js/intro.js"></script>