<section class="join_title">
    <article class="w1440">
        <h1>회원가입</h1>
    </article>
</section>
<section class="title_wrap w1440 join_wrap">
    <h2>회원가입</h2>
    <p>회원가입유형(일반회원/식품셀러/프리마켓셀러)을 선택해주세요.</p>
</section>
<section class="join">
    <article class="w1440">
        <div>
            <a href="general">
                <img src="../img/general_join.png">
                <p>일반회원</p>
            </a>
        </div>
        <div>
            <a href="foodseller">
                <img src="../img/foodseller.png">
                <p>식품셀러</p>
            </a>
        </div>
        <div>
            <a href="freemarket">
                <img src="../img/freeseller.png">
                <p>프리마켓셀러</p>
            </a>
        </div>
    </article>
</section>