        <section class="main_wrap">
            <article class="w1440">
                <div>
                    <h2 class="main_h2">서문시장 야시장과 함께라면  대구의 밤이 곧 파티다!</h2>
                    <h1>서문시장 야시장</h1>
                </div>
            </article>
        </section>
        <section>
            <article class="w1440 tour_wrap">
                <div><a class="tour" href="https://mmp7.cafe24.com/storymap/daeguyasijang.html" target="_blank"></a></div>
                <div><a class="smart" href="#"></a></div>
            </article>
        </section>
        <section class="video_wrap">
            <article class="w1440 video">
                <h2>영상으로 생생하게 즐기는</h2>
                <div class="logo2">
                    <div></div>
                </div>
                <div class="youtube_wrap">
                    <iframe src="https://www.youtube.com/embed/OdQ_ya1SF24" title="YouTube video player"></iframe>
                </div>
            </article>
        </section>
        <section>
            <article class="w1440 food_wrap">
                <ul>
                    <li><a href="intro">
                        <div class="f_img img1"></div>
                        <div class="f_txt">
                            <h2 class="main_h2">야시장안내</h2>
                            <p class="main_p">밤마다 펼쳐지는 <span>버라이어티 한 세상!</span></p>
                        </div>
                    </a></li>
                    <li><a href="#">
                        <div class="f_img img2"></div>
                        <div class="f_txt">
                            <h2 class="main_h2">먹거리살거리</h2>
                            <p class="main_p">눈과 입이 즐거운 <span>서문시장야시장</span></p>
                        </div>
                    </a></li>
                    <li><a href="#">
                        <div class="f_img img3"></div>
                        <div class="f_txt">
                            <h2 class="main_h2">매대위치</h2>
                            <p class="main_p">80대의 매대를 <span>빠짐없이 즐겨보세요</span></p>
                        </div>
                    </a></li>
                </ul>
            </article>
        </section>
        <section class="show_wrap">
            <div class="show_img"></div>
            <article class="w1440">
                <ul class="show_nav">
                    <li><a href="">
                        <div class="show_txt">
                            <h2 class="main_h2 showcolor">서문거리예술문화</h2>
                            <p class="main_p showcolor">야시장의 또다른 즐거움
                            <span>밤마다 펼쳐지는</span>
                            <span>다양한 볼거리들!</span></p>
                        </div>
                    </a></li>
                    <li><a href="">
                        <div class="show_txt">
                            <h2 class="main_h2 showcolor">행사안내</h2>
                            <p class="main_p showcolor">글로벌하게 먹고, 마시고,
                            <span>즐길 수 있는 </span>
                            <span>대한민국 No.1 야시장 </span></p>
                        </div>
                    </a></li>
                    <li><a href="">
                        <div class="show_txt">
                            <h2 class="main_h2 showcolor">주변관광지</h2>
                            <p class="main_p showcolor">주변 볼거리와 주요관광지!
                            <span>대구의 다양한 명소를 </span>
                            <span>소개합니다.</span></p>
                        </div>
                    </a></li>
                </ul>
            </article>
        </section>
        <section class="sns_wrap">
            <article class="w1440">
                <ul class="sns_nav">
                    <li class="tab_item on">
                        <button class="naver">NaverBlog</button>
                    </li>
                    <li class="tab_item">
                        <button class="facebook">Facebook</button>
                    </li>
                    <li class="tab_item">
                        <button class="insta">Instagram</button>
                    </li>
                    <li class="slider"></li>
                </ul>
                <div class="tab_contents">
                    <div class="tab_content nb on">
                        <ul class="sns_thum">
                            <li><a class="nb_img1" href="https://blog.naver.com/nightseomun/221293478737" target="_blank"></a></li>
                            <li><a class="nb_img2" href="https://blog.naver.com/nightseomun/221287623885" target="_blank"></a></li>
                            <li><a class="nb_img3" href="https://blog.naver.com/nightseomun/221286782586" target="_blank"></a></li>
                            <li><a class="nb_img4" href="https://blog.naver.com/nightseomun/221282481366" target="_blank"></a></li>
                        </ul>
                        <div class="sns_btn">
                            <a href="https://blog.naver.com/nightseomun" target="_blank">더보기</a>
                        </div>
                    </div>
                    <div class="tab_content fb">
                        <ul class="sns_thum">
                            <li><a class="fb_img1" href="/nightseomun/photos/a.250876218609934/1612403729123836/?type=3" target="_blank"></a></li>
                            <li><a class="fb_img2" href="/nightseomun/photos/a.250876218609934/1514371838927026/?type=3" target="_blank"></a></li>
                            <li><a class="fb_img3" href="/nightseomun/photos/a.250876218609934/1513904962307047/?type=3" target="_blank"></a></li>
                            <li><a class="fb_img4" href="/nightseomun/photos/a.250876218609934/1460220841008793/?type=3" target="_blank"></a></li>
                        </ul>
                        <div class="sns_btn">
                            <a href="https://www.facebook.com/nightseomun/" target="_blank">더보기</a>
                        </div>
                    </div>
                    <div class="tab_content ig">
                        <ul class="sns_thum">
                            <li><a class="ig_img1" href="/p/Cdrumump6BP/" target="_blank"></a></li>
                            <li><a class="ig_img2" href="/p/CdIXHKOJEBc/" target="_blank"></a></li>
                            <li><a class="ig_img3" href="/p/CdIVSs6Jkrs/" target="_blank"></a></li>
                            <li><a class="ig_img4" href="/p/Cb61lbfJ8Kc/" target="_blank"></a></li>
                        </ul>
                        <div class="sns_btn">
                            <a href="https://www.instagram.com/053nightmarket/" target="_blank">더보기</a>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article class="w1440 banner_wrap">
                <form class="notice_wrap">
                    <div class="main_notice_title">
                        <h3>공지사항</h3>
                        <a href="notice">+</a>
                    </div>
                    <table class="main_notice">
                        <% rows.forEach((row, index) => { %>
                        <tr>
                            <td class="mNotiTitle" onclick="javascript:location.href='/notice_page?id=<%=row.id%>'"><%=row.title%></td>
                            <td class="mNotiDate"><%=row.NTdate%></td>
                        </tr>
                        <% }) %>
                    </table>
                </form>
                <div class="seller_wrap">
                    <div><a class="seller1" href=""></a></div>
                    <div><a class="seller2" href=""></a></div>
                </div>
            </article>
        </section>
        <section class="w670_none">
            <article class="w1440 link_wrap">
                <ul>
                    <li><a class="link_img1" href="https://www.daegu.go.kr/index.do" target="_blank">
                    </a></li>
                    <li><a class="link_img2" href="https://www.jung.daegu.kr/new/pages/main/" target="_blank">
                    </a></li>
                    <li><a class="link_img3" href="http://dtmsa.or.kr/" target="_blank">
                    </a></li>
                    <li><a class="link_img4" href="https://www.mss.go.kr/site/smba/main.do" target="_blank">
                    </a></li>
                </ul>
            </article>
        </section>
<script src="../js/main.js"></script>