

.seller_title {
    width: 100%;
    background-image: url('../img/login_img.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.w1440 {
    width: 1440px;
    margin: auto;
}

.seller_title h1 {
    width: 100%;
    padding-top: 8.02%;
    padding-bottom: 8.02%;
    text-align: center;
    font-size: 58px;
    color: #fff;
    font-weight: bold;
}

.seller_bg {
    padding: 100px 0 100px;
    background-color: #f5f5f5;
}

.title_wrap {
    text-align: center;
    margin-bottom: 50px;
}

.title_wrap>h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}

.basic_info {
    width: 70%;
    margin: auto;
}

.basic_info>h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.food_info, .seller_intro {
    width: 70%;
    margin: auto;
}

.food_info>h3, .seller_intro>h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 50px 0 30px;
}

.food_type {
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    box-sizing: border-box;
}

.food_type>label {
    margin-right: 30px;
}

.food_code {
    position: relative;
    padding: 10px 0 ;
    box-sizing: border-box;
    border: none;
}

.career_txtbox {
    width: 100%;
    border: none;
}

.file_upload {
    width: 20%;
    background-color: #C4C4C4;
}

.seller_btn_wrap {
    display: flex;
    justify-content: center;
}

.seller_btn {
    background-color: #4D3494;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #fff;
    border: none;
    margin-top: 50px;
}

@media only screen and (max-width: 1440px) {

    .w1440 {
        width: 100%;}

}

@media only screen and (max-width: 1000px) {

    .seller_title h1 {
        font-size: 33px;}

    .title_wrap>h2 {
        font-size: 23px;
    }

}
