
/************************main*******************/

.notice_title {
    width: 100%;
    margin-bottom: 150px;
    background-image: url('../img/notice_main.png');
    background-size: cover;
}

.w1440 {
    width: 1440px;
    margin: auto;
}

.notice_title h1 {
    width: 100%;
    padding-top: 8.02%;
    padding-bottom: 8.02%;
    text-align: center;
    font-size: 58px;
    color: #fff;
    font-weight: bold;
}

nav>ul {
    display: flex;
    justify-content: center;
    text-align: center;
}

.notice_title nav>ul>li {
    width: 16.66%;
    line-height: 80px;
    background-color: #ECAC13;
}

.notice_title nav>ul>li>a {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}

.notice_title .notice_active {
    background-color: #fff;
}

.notice_title .noticetxt_active {
    color: #4D3494;
}

.search_wrap>article {
    width: calc(100% - 60px);
    margin: auto;
}

.search_bg {
    width: 100%;
    padding-top: 2.12%;
    padding-bottom: 2.12%;
    margin: 0 auto 100px;
    background-color: #F5F5F5;
    border: 1px solid #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.dropbox {
    width: 25%;
    line-height: 60px;
    background-color: #fff;
    border: 1px solid #E0E0E0;
    margin-right: 30px;
    padding: 0 20px;
    box-sizing: border-box;
}

.dropbox>select {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    font-size: 17px;
    color: #3B3D40;
}

.search_bar {
    width: 41.66%;
    line-height: 60px;
    background-color: #fff;
    border: 1px solid #E0E0E0;
    padding-left: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.search_bar>input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    font-size: 17px;
    color: #3B3D40;
    }

.search_bar>span>a {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #3B3D40;
    background-image: url('../img/search_icon.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center center;}
    


.board_wrap>article {
    width: calc(100% - 60px);
    margin: auto;
}

.board_wrap .notice_list {
    width: 100%;
    margin-bottom: 50px;
}

.notice_list tr>td {
    padding: 20px 0;
    border: 1px solid #E0E0E0;
}

.notice_list>thead {
    text-align: center;
    background-color: #F5F5F5;
    font-weight: bold;
    color: #555555;
}



.notice_tit {
    width: 70%;
    padding-left: 20px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.notice_list>tbody>tr>.notice_tit {
    padding-left: 20px;
}

.notice_list .date {
    width: 20%;
    text-align: center;
    white-space: nowrap;
}

.file {
    width:10%;
    text-align: center;
}

.file>div {
    width: 16px;
    height: 16px;
    background-image: url('../img/icon_file.png');
    margin: auto;
}

tfoot, tfoot a {
    color: #3B3D40;

}

.pageno_wrap>article {
    width: 66.66%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.pageno_wrap>article>div {
    display: flex;
    justify-content: space-between;
}

.pageno_wrap a {
    display: block;
    width: 50px;
    height: 50px;
}

.pre_page, .next_page {
    width: 110px;
}

.page {
    width: 590px;
}

.pre, .next {
    background-color: #555555;
    color: #fff;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
}

.page>a {
    color: #3B3D40;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    background-color: #F5F5F5;
}

.page>.active_num {
    background-color: #4D3494;
    color: #fff;
}

.write_btn {
    margin: 50px auto 100px;}

.write_btn>button{
    display: block;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    cursor: pointer;
}


@media only screen and (max-width: 1440px) {

    .w1440 {
        width: 100%;}

}

@media only screen and (max-width: 1240px) {

    .notice_title {
        margin-bottom: 150px;}

    .pageno_wrap a {
        width: 40px;
        height: 40px;
    }

    .pageno_wrap>article {
        margin: 0 auto 150px;}

    .pre_page, .next_page {
        width: 90px;
    }
    
    .page {
        width: 490px;
    }
    
    .pre, .next {
        line-height: 40px;
    }
    
    .page>a {
        line-height: 40px;
    }
    
}

@media only screen and (max-width: 1000px) {

    .notice_title h1 {
        font-size: 33px;}

    .notice_title nav>ul>li {
        line-height: 50px;
    }

    .notice_title nav>ul>li>a {
        font-size: 16px;
    }

    .notice_title {
        margin-bottom: 100px;}

    .dropbox {
        line-height: 40px;
    }

    .dropbox>select {
        font-size: 15px;
    }

    .search_bar {
        line-height: 40px;}

    .search_bg {
        margin: 0 auto 50px;}

        
    .search_bar>input {
        font-size: 15px;
    }

    .notice_list{
        table-layout: fixed;}

    .search_bar>span>a {
        display: block;
        width: 40px;
        height: 40px;}

    .pageno_wrap>article {
        margin: 0 auto 100px;}

    .pre_page, .next_page {
        width: 90px;
    }
    
    .page {
        width: 240px;
    }

    .file {
        display: none;
    }

    .page>.none_num {
        display: none;
    }

}


@media only screen and (max-width: 670px) {

    .search_wrap>article {
        width: 66.66%;
    }

    .search_bg {
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
        flex-direction: column;}

    .dropbox {
        width: calc(100% - 60px);
        margin: 0;}

    .search_bar {
        width: calc(100% - 60px);
        margin-top: 20px;}

    .notice_list>thead {
        display: none;
    }

    .no {
        display: none;
    }

    .notice_list tr {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        border: 0.5px solid #E0E0E0;
        box-sizing: border-box;
        padding: 10px;
    }

    .notice_tit {
        font-weight: bold;
        color: #494949;
    }

    .notice_list .date {
        text-align: left;}

    .notice_list tr>td {
        padding: 0;
        border: none;
        width: 100%;
    }

    .notice_list tr>.notice_tit {
        order: 1;
        padding: 0;
        width: 100%;
    }

    .notice_list>.date {
        order: 2;
        text-align: left;
        width: 100%;
    }

    .none_w670 {
        display: none;
    }

    .pageno_wrap>article {
        width: calc(100% - 60px);}

        .notice_title>article {
            padding: 0;
        }
    
        .notice_title nav>ul>li {
            width: 25%;
        }

        .notice_list>tbody>tr>.notice_tit {
            padding-left: 0px;
        }

}


@media only screen and (max-width: 450px) {

    .pageno_wrap a {
        width: 30px;
        height: 30px;
    }

    .pre_page, .next_page {
        width: 70px;
        font-size: 13px;
    }

    .pre, .next {
        line-height: 30px;
    }

    .page {
        width: 215px;
        font-size: 13px;
        
    }

    .page>a {
        line-height: 30px;
    }


}